.container {

    .path-top {
        margin-top: 50px;
    }

    .path {
        color: #7f7f7f;
    }

    .text-not-found {
        font-size:100px;
        font-weight: medium;
        margin-top: 100px;

        @media (max-width: 768px) {
            font-size: 70px;
        }

        @media (max-width: 540px) {
            font-size: 50px;
        }

        @media (max-width: 425px) {
            font-size: 30px;
        }
    }

    .sub-text-not-found {
        font-size: 18px;
        margin-top: 25px;
        width: 60%;
        text-align: center;
    }

    .error-button {
        background-color: #db4544;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 40px;
        margin-top: 75px;
        margin-bottom: 150px;
    }

    .error-button-link {
        display: contents;
    }
}